<div class="row">
  <div class="offset title_list large-10 columns">
      <h2 class="title title_list">
        <em>Listy zakupów</em>
      </h2>
  </div>
</div>
<div class="form">
  <input placeholder="add new list" type="text" ng-model="newList"</input>
  <button ng-click="addList()">Add me</button>
</div>
<div class="row" ng-repeat="list in lists">
  <div class="list large-8 columns">
    <div class="list_name large-6 columns"><a href="<%= params[:locale]%>#/lists/{{list.id}}">{{list.name}}</a><span class="remove"  ng-click="remove(list.id)">remove</span></div>
    <div class="large-2 columns heart"><svg version="1.1" id="heart" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    width="50px" height="50px" viewBox="0 0 299 252" enable-background="new 0 0 299 252" xml:space="preserve">
    <path fill="#FA5B6D"  d="M248.078,5.883c-36.691-14.739-77.771-0.839-98.517,31.125C128.817,5.044,87.735-8.856,51.043,5.883
    C9.354,22.632-10.863,70.009,5.887,111.696c16.06,39.98,143.314,139.607,143.314,139.607l0.359,0.28l0.36-0.28
    c0,0,127.251-99.627,143.314-139.607C309.986,70.009,289.768,22.632,248.078,5.883z"/>
    </svg>
    </div>
  </div>
</div>
