body
{
	background-color:rgba(237, 222, 217, 0.1) !important;
}
.contain-to-grid
{
	background-color: #FF647B;
}
.top-bar
{
	background-color: #FF647B;
	height: 55px;
	font-size: 1.2em;
}
.top-bar-section .has-form
{
	background-color: #FF647B;
}
.top-bar-section li a:not(.button)
{
	background-color: #FF647B;
	line-height: 55px;
	font-size: 1.2em;
	font-weight: 200;
}
.top-bar-section ul li > a.button
{
	background: rgb(134, 222, 216);
	border: transparent;
	font-size: 1.2em;
	font-weight: 200;
}
.top-bar-section ul
{
	background: transparent;
}
.divider
{
	border-right: solid 0.5px white !important;
	border-left: solid 0.5px white !important;
	color: white;
}

body { background-color: #fff6e6; }

.offset {
	margin-top: 5em;
	text-rendering: optimizeLegibility;
}
.offset .title
{
	font-family: "Lobster Two", "Times New Roman", Times, serif;
	font-weight: 400;
	font-size: 3em;
	color: rgb(134, 222, 216);
	text-align: center;
}
.offset .title em
{
	font-weight: 100;
	font-style: normal;
	font-size: 2.5em;
	letter-spacing: -0.01em;
	color: #f77683;
	text-shadow:
	-.010em .010em #fff6e6,
	-.040em .040em #e7dcd7;
}
.offset .title b
{
	display: block;
	margin-top: -0.5em;
}
.offset .title_list
{
	text-align: left !important;
	font-size: 2.2em !important;

}
.section1
{
	min-height:650px;
	border-bottom: solid gray 1px;
}
.section3
{
	min-height:650px;
	border-bottom: solid gray 1px;
}
.item
{
	border: 0.08em solid rgb(134, 222, 216);
	margin: 0.5em;
	font-family: "Josefin Sans";
	font-size: 3em;
	line-height: 2em;
	color:white;
	background: rgb(134, 222, 216);
}
.item:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 2.1em;
	width: 1em;
	position: absolute;
	pointer-events: none;
}
.item:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: rgb(134, 222, 216);;
	border-width: 52px;
	margin-top: -52px;
	margin-left: 3px;
}

.item_name
{
	padding-left:1.5em;
}
.heart
{
	font-family: "Lobster Two";
	font-size: 1.2em;
}
.heart1
{
	text-shadow: -5px 0 #FA5B6D , 0 5px #FA5B6D , 5px 0 #FA5B6D , 0 -5px #FA5B6D ;
	color: #FBF8F7;
	font-size: 1.2em;
}
.list
{
	border: 4px solid rgb(134, 222, 216);
	margin: 0.5em;
	font-family: "Josefin Sans";
	font-size: 1.9em;
	line-height: 2.5em;
	border-radius: 20px;
	color:rgb(134, 222, 216);
-webkit-box-shadow: -3px 1px 0px 0px rgba(255, 246, 230, 1), -5px 5px 0px 0px rgba(231, 220, 215, 1);
-moz-box-shadow:    -3px 1px 0px 0px rgba(255, 246, 230, 1), -5px 5px 0px 0px rgba(231, 220, 215, 1);
box-shadow:         -3px 1px 0px 0px rgba(255, 246, 230, 1), -5px 5px 0px 0px rgba(231, 220, 215, 1);;

}
.list_name
{
	padding-top:5px;
}
.koszyk
{
	height: 50px;
	margin-top:5px;
	margin-right:10px;
}
svg
{
	margin-top: 15px;
}
.nav_border
{
	background: url(/assets/border.png) center repeat-x;
	background-size: 18px;
	position: relative;
	height: 10px;
	top: 8px;
}
.breadcrumb { 
	list-style: none; 
	overflow: hidden; 
	font: 18px Helvetica, Arial, Sans-Serif;
}
.breadcrumb li { 
	float: left; 
}
.breadcrumb li a {
	color: white;
	text-decoration: none; 
	padding: 10px 0 10px 65px;
	background: gray;                   /* fallback color */
	background: hsla(34,85%,35%,1); 
	position: relative; 
	display: block;
	float: left;
}
.breadcrumb li a:after { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid hsla(34,85%,35%,1);
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	left: 100%;
	z-index: 2; 
}
.breadcrumb li a:before { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;       
	border-bottom: 50px solid transparent;
	border-left: 30px solid white;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	margin-left: 1px;
	left: 100%;
	z-index: 1; 
}